<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form role="form" name="eventForm" ng-submit="save()">
      <fieldset>
        <legend>Enter Details</legend>
        <div class="form-group">
          <label for="date">Enter date:</label>
          <input type="date" class="form-control" ng-model="Event.date">
        </div>
        <div class="form-group">
          <label for="time">Enter time:</label>
          <input type="time" class="form-control" ng-model="Event.time">
        </div>
        <div class="form-group">
          <label for="text">Enter venue:</label>
          <input type="text" class="form-control" ng-model="Event.venue">
        </div>
        <button type="submit" class="btn btn-primary">Create event</button>
      </fieldset>
    </form>
  </div>
</div>