<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/create">Create Event</a>
        <h3 class="block">Events</h3>
        <table class="table table-striped">
            <tr ng-repeat="event in events">
                <td>{{event.date}}</td>
                <td>{{event.time}}</td>
                <td>{{event.venue}}</td>
                <td>
                    <a href="/update/{{event.id}}">Edit</a> | <a href="" ng-click="deleteEvent(event.id)">Remove</a> | <a href="/show/{{event.id}}">show</a>
                </td>
            </tr>
        </table>
    </div>
</div>
