<form ng-submit="book()">
  <input type="submit" class="btn btn-primary" value="Register">
</form>


<div class="row">
    <div class="col-md-12">
                {{Event.date}}<br/>
                {{Event.time}}<br/>
                {{Event.venue}}<br/>
    </div>
</div>

<div ng-controller='PlayerController'>

  <table class="table table-striped">
    <tr ng-repeat="playlist in playlists">
      <td>{{playlist.name}}</td>
      <td><button class="btn btn-success btn-sm" ng-click="vote(playlist.id,playlist.name)">Vote</button></td>
    </tr>
  </table>
  <button class="btn btn-primary" ng-click="start()">Start Event</button>
</div>


<div ng-controller="SongController">
    <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()">Upload</button>
</div>


