<form novalidate class="simple-form" name="eventForm" ng-submit="update()">
	Date: <input type="date" ng-model="Event.date" /><br />
    Time: <input type="time" ng-model="Event.Time" /><br />
    Venue: <input type="text" ng-model="Event.venue" />
    <input type="submit"/>
</form>